.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  height: 100vh; /* Make sure it takes the full viewport height */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.904) 50%, rgb(149, 238, 144) 100%);
}

.App-second-half {
  text-align: center;
  height: 100vh; /* Full viewport height for second half */
  background: linear-gradient(to left, lightgreen 50%, black 100%);
}


.App {
  text-align: center;
  height: 100vh; /* Ensure it takes the full viewport height */
  background: linear-gradient(
    to right, 
    black 40%, 
    rgba(1, 87, 1, 0.8) 75%, /* Dark green */
    rgba(4, 78, 4, 0.7) 100% /* Lighter green */
  );
}

.App-second-half {
  text-align: center;
  height: 100vh; /* Full viewport height for second half */
  background: linear-gradient(
    to left, 
    rgba(1, 60, 1, 0.7) 50%, /* Lighter green */
    rgba(0, 128, 0, 0.8) 75%, /* Dark green */
    black 100%
  );
}


